<!DOCTYPE html>
<html>
    <head>
        <title>proflayton</title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/third-party/phaser.min.js"></script>
    </head>
    <body>
        <div id="login-container">
            <input id="username" type="text" />
            <button id="login">Login</button>
            <button id="signup">Signup</button>
            <p id="message"></p>
        </div>
        <div id="save-container">
            <span id="welcome"></span>
            <button id="save">Save Progress</button>
        </div>
        <div id="game"></div>


        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/PlayerState.js"></script>
        <script src="/javascripts/Start.js"></script>

        <!-- Languages -->
        <script src="/javascripts/languages/OpenPortal.js"></script>
        <script src="/javascripts/languages/NameCryptogram.js"></script>
        <script src="/javascripts/languages/NameKeyboard.js"></script>
        <script src="/javascripts/planets/PlanetMiniGame.js"></script>
         <script src="/javascripts/planets/PlanetDialogue.js"></script>
         <script src="/javascripts/planets/gameOver.js"></script>
         <script src="/javascripts/meta/MetaLanguages.js"></script>
         <script src="/javascripts/meta/MetaPlanet.js"></script>
         <script src="/javascripts/meta/MetaPlanetDialogue.js"></script>


        <script src="/javascripts/Scale.js"></script>

        <script src="/javascripts/game.js"></script>
        <script src="/javascripts/index.js"></script>

    </body>
</html>
