<!DOCTYPE html>
<html>
    <head>
        <title>proflayton</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/third-party/phaser.min.js"></script>
    </head>
    <body>
        <div id="game"></div>
        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/PlayerState.js"></script>
        <script src="/javascripts/Start.js"></script>

        <!-- Languages -->
        <script src="/javascripts/languages/OpenPortal.js"></script>
        <script src="/javascripts/languages/NameCryptogram.js"></script>
        <script src="/javascripts/planets/PlanetMiniGame.js"></script>
         <script src="/javascripts/planets/PlanetDialogue.js"></script>

        <script src="/javascripts/Scale.js"></script>

        <script src="/javascripts/game.js"></script>
    </body>
</html>
